/*
# ██╗    ██╗██╗   ██╗ █████╗ ██╗     
# ██║    ██║██║   ██║██╔══██╗██║     
# ██║ █╗ ██║██║   ██║███████║██║     (code by wual)
# ██║███╗██║██║   ██║██╔══██║██║     
# ╚███╔███╔╝╚██████╔╝██║  ██║███████╗
#  ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚══════╝

# See proyect >> https://github.com/14wual/14wual.github.io
# Follow me >> https://twitter.com/codewual
*/
body {background: #24283b;font-family: 'Roboto', sans-serif;}
.bar {text-align: center;}
.buttons-links {font-size: 30px;}
.buttons-links a {display: block;margin: 25px;color: #fff;text-decoration: none;cursor: pointer;}
details {color: #fff;margin-top: 15px;}