body {
    background: #65737e;
}
.box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ascii  {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 380px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: #63717f;
    background: #2b303b;
  }
  button i {
    text-align: center;
    color: #63717f;
  }
  .marks {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.container-1{
    width: 400px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    transition: all ease-in 0.5s;
  }
  .container-1 input#search{
    width: 300px;
    height: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  button {
    height: 50px;
    width: 50px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-left: 15px;
  }

  .container-1 input#search::-webkit-input-placeholder {
    color: #65737e;
 }
 .container-1 input#search:-moz-placeholder { /* Firefox 18- */
    color: #65737e;  
 }
 .container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;  
 }
 .container-1 input#search:-ms-input-placeholder {  
    color: #65737e;  
 }
 .container-1 .icon{
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
  }
  .container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #ffffff;
  }