/*
# ██╗    ██╗██╗   ██╗ █████╗ ██╗     
# ██║    ██║██║   ██║██╔══██╗██║     
# ██║ █╗ ██║██║   ██║███████║██║     (code by wual)
# ██║███╗██║██║   ██║██╔══██║██║     
# ╚███╔███╔╝╚██████╔╝██║  ██║███████╗
#  ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚══════╝

# See proyect >> https://github.com/14wual/14wual.github.io
# Follow me >> https://twitter.com/codewual
*/
@import url('https://fonts.googleapis.com/css?family=Nunito|Lacquer');
body {margin: 0;}
body,button,input {font-family: Nunito;}
* {box-sizing: border-box;transition: 0.4s ease all;}
h1,h2,h3,h4,h5,h6 {margin: 0;}
ul {padding: 0;margin: 0;}
.navbar {background: #080808;color: #fff;padding: 15px;width: 100%;height: 65px;	display: flex;align-items: center;border-radius: 15px;}
.navbar .logo {cursor: pointer;font-family: Lacquer;}
.navbar ul a {color: #fff;margin-left: 10px;text-decoration: none;}
.navbar ul a:hover {text-decoration: underline;}
.navbar ul.links {margin-left: auto;margin-right: 50px;list-style: none;display: flex;align-items: center;transition: 0.4s ease all, 0s ease background;	}
button {background: #fff;outline: none;font-weight: bold;padding: 10px 18px;border-radius: 10px;letter-spacing: 1px;cursor: pointer;}
.navbar.sticky {position: fixed;z-index: 40;}
.navbar.sticky~ main {position: relative;z-index: 20;top: 65px;}
img {height: 20px;}