/*
# ██╗    ██╗██╗   ██╗ █████╗ ██╗     
# ██║    ██║██║   ██║██╔══██╗██║     
# ██║ █╗ ██║██║   ██║███████║██║     (code by wual)
# ██║███╗██║██║   ██║██╔══██║██║     
# ╚███╔███╔╝╚██████╔╝██║  ██║███████╗
#  ╚══╝╚══╝  ╚═════╝ ╚═╝  ╚═╝╚══════╝

# See proyect >> https://github.com/14wual/14wual.github.io
# Follow me >> https://twitter.com/codewual
*/
.sett-panel {position: relative;z-index: 1111;background: #FFFFFF;max-width: 360px;margin: 0 auto 100px;padding: 45px;text-align: center;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);border-radius: 10px;}
.sett-panel {position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);background-color: #fff;padding: 20px;border-radius: 10px;z-index: 999;}
.sett-select-cat {margin-bottom: 10px;}
.sett-select-cat select {outline: 0;background: #f2f2f2;border: 0;width: 215px;;margin: 15px 0 0 15px;padding: 15px;font-size: 14px;border-radius: 10px;padding: 5px;border-radius: 5px;border: none;box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);}
.sett-btns {display: flex;justify-content: flex-end;margin-top: 10px;}
.sett-btns button {padding: 5px 10px;border-radius: 5px;border: none;background-color: #007bff;color: #fff;cursor: pointer;margin-left: 10px;}
.sett-btns button:first-child {background-color: #e9ecef;color: #000;}
.sett-panel {display: flex;flex-direction: column;}
.sett-panel label {margin-bottom: 10px;}
.sett-panel input {font-family: "Roboto", sans-serif;outline: 0;background: #f2f2f2;border: 0;width: 150px;;margin: 15px 0 0 15px;padding: 15px;font-size: 14px;border-radius: 10px;padding: 5px;margin-bottom: 10px;border-radius: 5px;border: none;box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);}