/* <!-- 
#   ___  ____  __   
#  / __)(  _ \(  )  
# ( (__  )___/ )(__  (code by cpadlab)
#  \___)(__)  (____)

# Author >> Carlos Padilla
# Proyect >> CPWvFeb24 (Carlos Padilla Web 2024 May Update)
# Download Code >> https://github.com/cpadlab/cpadlab.github.io
# Follow me >> https://twitter.com/cpadlab
--> */

#home,.hc-box,.home-content{position:relative}.nickname,.page-title h1,.page-title h2{color:var(--background)}#home{height:100vh;background:var(--primary)}.home-content{padding:.001em;border-left:2px solid var(--background);height:100%;max-width:70%;margin:0 auto}@media only screen and (max-width:950px){.home-content{max-width:90%}}.hc-box{margin-top:10em;border-top:2px solid var(--background)}.nickname{position:absolute;left:1em;top:1em;display:flex;align-items:center;gap:.5em}.nickname span::after{content:'cpadlab'}.nickname-box{width:1em;height:1em;background:var(--background);border-radius:5px;transition:.3s ease-in}.nickname:hover .nickname-box{width:3em}.page-title{position:absolute;bottom:5em;left:3em}.page-title h1{font-size:5rem;text-transform:uppercase;line-height:4rem;margin-bottom:.1em}@media only screen and (max-width:625px){.page-title{bottom:6em;left:1em}}