/*
#   ___  ____  __   
#  / __)(  _ \(  )  
# ( (__  )___/ )(__  (code by cpadlab)
#  \___)(__)  (____)

# Author >> Carlos Padilla
# Proyect >> CPWvFeb24 (Carlos Padilla Web 2024 Feb Update)
# Download Code >> https://github.com/cpadlab/cpadlab.github.io
# Follow me >> https://twitter.com/nerezza0
*/

:root {
    --color: #e3e3e3;
    --background: #1c1c1c;
    --accent: #bb2020;
    --color-9: rgba(227, 227, 227, .9);
    --color-8: rgba(227, 227, 227, .8);
    --color-7: rgba(227, 227, 227, .7);
    --color-6: rgba(227, 227, 227, .6);
    --color-5: rgba(227, 227, 227, .5);
    --color-4: rgba(227, 227, 227, .4);
    --color-3: rgba(227, 227, 227, .3);
    --color-2: rgba(227, 227, 227, .2);
    --color-1: rgba(227, 227, 227, .1);
    --easy: #50bda9;
    --medium: #ff9900b7;
    --hard: #bb2020;
    --insane: #6a1f96b7;
    --python: #2672A2;
    --shell: #7FE05E;}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
body {
    color: var(--color);
    background: var(--background);}
html {scroll-behavior: smooth;}
.custom-cursor {
    position: absolute;
    width: 5px;
    height: 5px;
    border: 5px solid var(--accent);
    background: var(--accent);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; 
    transition: width 0.3s ease-out, height 0.3s ease-out, transform 0.2s ease-out, border-color .3s ease-out;
    z-index: 1111;
    mix-blend-mode: difference;}
.drop-effect {
    width: 4px;
    height: 4px;
    transform: translate(-50%, -50%) scale(1.5);
    border-color: var(--accent);}
.hover-effect {
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%) scale(1.5);}
.cursor-over-button {
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%) scale(1.5);}