/*
#   ___  ____  __   
#  / __)(  _ \(  )  
# ( (__  )___/ )(__  (code by cpadlab)
#  \___)(__)  (____)

# Author >> Carlos Padilla
# Proyect >> CPWvFeb24 (Carlos Padilla Web 2024 Feb Update)
# Download Code >> https://github.com/cpadlab/cpadlab.github.io
# Follow me >> https://twitter.com/nerezza0
*/

@font-face {
    font-family: 'Yapari';
    src: url('..//fonts/yapari/YapariBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;}
@font-face {
    font-family: 'Yapari';
    src: url('../fonts/yapari/YapariLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;}
@font-face {
    font-family: 'Yapari';
    src: url('../fonts/yapari/YapariRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'Yapari';
    src: url('../fonts/yapari/YapariSemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;}
@font-face {
    font-family: 'Yapari';
    src: url('../fonts/yapari/YapariThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;}
@font-face {
    font-family: 'Roboto';
    src: url('../src/fonts/roboto/Roboto-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;}