footer {
    background: var(--white-200);
    padding: 1em;
    min-height: 50vh;
    display: flex;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
    position: sticky;
    bottom: 0;
}

main {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 100vh;
    z-index: 2;
    position: relative;
    background: var(--black-950);
}
  

.footer-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    gap: 2em;
}

.fc-links {
    display: flex;
    gap: 2em;
}

.fc-links-row {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

footer p,
footer h3,
footer a {
    color: var(--black-900);
    font-family: var(--text-font);
    text-decoration: none;
    font-size: 1rem;
    position: relative;
}

footer a span {
    position: relative;
}

footer a span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: var(--black-900);
    transition: all ease .2s;
}

footer a span:hover::after {
    width: 100%;
}

footer h3 {
    color: var(--black-950);
}

footer h2 {
    font-size: 8rem;
    color: var(--black-950);
    font-family: var(--text-font);
    text-transform: uppercase;
    user-select: none;
    line-height: 1;
}
@media only screen and (max-width: 600px) {
    footer h2{
        font-size: 6rem;
    }
}

@media only screen and (max-width: 450px) {
    footer h2{
        font-size: 5rem;
    }
}

@media only screen and (max-width: 370px) {
    footer h2{
        font-size: 4rem;
    }
}