header {
    position: fixed;
    z-index: 11111;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
    left: 50%;
    background: transparent;
    transform: translateX(-50%);
}

header nav {
    display: flex;
    align-items: center;
    gap: 1em;
}

header a {
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    position: relative;
    line-height: 1.1rem;
    font-family: var(--text-font);
    font-size: var(--font-size-regular);
    font-weight: 500;
    gap: .3em;
}

header a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background: var(--text-color);
    left: 0;
    bottom: -3px;
    transition: width ease-in 300ms;
}

header a:hover::after {
    width: 100%;
}

header a svg {
    width: .8em;
    height: .8em;
    fill: var(--text-color);
}

header a svg.transparent {
    fill: transparent;
    position: relative;
}

header a div {
    position: relative;
    display: flex;
    height: 1rem;
    overflow: hidden;
}

header a svg.after,
header a svg.before {
    position: absolute;
    left: 0;
    top: 0;
    transition: top ease-in 200ms;
}

header a svg.before {
    top: -100%;
}

header a:hover svg.before {
    top: 0%;
}

header a:hover svg.after {
    top: 100%;
}

header a span {
    color: transparent;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
    display: inline-block;
}

header a span::after,
header a span::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    color: var(--text-color);
    top: 0;
    transition: top ease-in 200ms;
}

header a span::before {
    top: 100%;
}

header a:hover span::before {
    top: 0;
}

header a:hover span::after {
    top: -100%;
}

@media only screen and (max-width: 500px) {
    .a_linkedin {
        display: none !important;
    }
}
@media only screen and (max-width: 350px) {
    .a_github {
        display: none !important;
    }
}