<!-- 
#   ___  ____  __   
#  / __)(  _ \(  )  
# ( (__  )___/ )(__  (code by cpadlab)
#  \___)(__)  (____)

# Author >> Carlos Padilla
# Proyect >> CPWvFeb24 (Carlos Padilla Web 2024 May Update)
# Download Code >> https://github.com/cpadlab/cpadlab.github.io
# Follow me >> https://twitter.com/cpadlab
-->

<h1 id=section-title-h1>About</h1><div class=about-rrss><a target=_blank href=https://github.com/cpadlab><i class="fa-brands fa-github"></i></a><a target=_blank href=https://www.youtube.com/@wual><i class="fa-brands fa-youtube"></i></a><a target=_blank href=https://linkedin.com/in/cpadilla10><i class="fa-brands fa-linkedin"></i></a><a target=_blank href=https://medium.com/@cpadlab><i class="fa-brands fa-medium"></i></a><a target=_blank href=https://twitter.com/cpadlab><i class="fa-brands fa-x-twitter"></i></a></div><p id=about-text></p><div class=change-lang-btn><button id=clb-en>EN</button><button id=clb-es>ES</button></div>