<!-- 
#   ___  ____  __   
#  / __)(  _ \(  )  
# ( (__  )___/ )(__  (code by cpadlab)
#  \___)(__)  (____)

# Author >> Carlos Padilla
# Proyect >> CPWvFeb24 (Carlos Padilla Web 2024 May Update)
# Download Code >> https://github.com/cpadlab/cpadlab.github.io
# Follow me >> https://twitter.com/cpadlab
-->

<button id=close-hidden-menu-btn><i class="fa-solid fa-xmark"></i></button><ul class=hm-content><li id=hm-li-default-1><a id=ndmu-a-default-1 href=/ ><i class="fa-solid fa-house"></i><span>Home</span></a></li><li id=hm-li-default-1><a id=ndmu-a-default-1 href=/blog><i class="fa-solid fa-book"></i><span>Blog</span></a></li></ul><div class=bottom-contact><a id=bc-a-mailto href=mailto:cpadlab@proton.me>cpadlab@proton.me</a><div class=bc-rrss><a target=_blank href=https://github.com/cpadlab><i class="fa-brands fa-github"></i></a><a target=_blank href=https://www.youtube.com/@wual><i class="fa-brands fa-youtube"></i></a><a target=_blank href=https://linkedin.com/in/cpadilla10><i class="fa-brands fa-linkedin"></i></a><a target=_blank href=https://medium.com/@cpadlab><i class="fa-brands fa-medium"></i></a><a target=_blank href=https://twitter.com/cpadlab><i class="fa-brands fa-x-twitter"></i></a></div></div>