#home {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.home-intro-background {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--primary);
    z-index: 111;
    transform: translateY(-100%);
}

.home-intro-video {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.home-intro-video-outro {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: background ease .2s;
    z-index: 1;
    opacity: 0;
}

.home-intro-video video {
    width: 100%;
    z-index: -1;
}

.home-item-fixed {
    position: absolute;
    z-index: 11;
    display: flex;
    width: 100%;
    bottom: 0em;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
}

.home-item-fixed a  {
    text-decoration: none;
    position: relative;
    font-family: var(--font-text);
    color: var(--dark);
    font-weight: 400;
    transition: all cubic-bezier(0,0,.2,1) .2s;
    font-size: var(--text-size);
    text-transform: uppercase;
}

.home-item-fixed a::after {
    content: "";
    width: 0%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--dark);
    transition: width ease .2s;
}

.home-item-fixed a:hover::after {
    width: 100%;
}

.home-item-fixed-container {
    display: flex;
    align-items: center;
    gap: 1em;
}

.home-content {
    z-index: 111;
}

.home-content .section-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content h1 {
    font-size: 10rem;
    line-height: 80%;
    font-family: var(--font-title);
    font-weight: 100;
    color: var(--light);
    text-align: center;
    transition: color 1s;
}

.home-content h1.dark {
    color: var(--dark);
}

.home-content h1 span.italic {
    font-style: italic;
}

.home-content h1 span.uppercase {
    text-transform: uppercase;
}

.home-item-fixed-center svg {
    width: 1em;
    height: 1em;
    fill: var(--dark);
}

@media only screen and (max-width: 900px){
    .home-content h1 {
        font-size: 9rem;
    }
}

@media only screen and (max-width: 800px){
    .home-content h1 {
        font-size: 8rem;
    }
}

@media only screen and (max-width: 700px){
    .home-content h1 {
        font-size: 7rem;
    }
}

@media only screen and (max-width: 600px){
    .home-content h1 {
        font-size: 5.5rem;
    }
    .home-item-fixed-center {
        display: none;
    }
}

@media only screen and (max-width: 500px){
    .home-content h1 {
        font-size: 4.5rem;
    }
    
}

@media only screen and (max-width: 400px){
    .home-content h1 {
        font-size: 4rem;
    }
    
}

@keyframes _introSlideUp {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-40%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes _outroSlideUp {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(40%);
    }
    100% {
        transform: translateY(0);
    }
}

#banner {
    height: 150vh;
    position: relative;
    overflow: hidden;
}

.banner-parallax-image,
.banner-parallax-black {
    position: absolute;
    width: 100%;
    left: 0;
    object-fit: cover;
}

/* .banner-parallax-black {
    top: 0;
    height: 100%;
    background: var(--dark);
    transition: opacity ease 2s;
} */

.banner-parallax-image {
    top: -50%;
    height: 150%;
    opacity: 1;
    background: url("../../assets/images/assets-test-image-001.jpg") no-repeat center center fixed;
    background-size: cover;
}

/* 
.works-scroll-status {
    position: absolute;
    top: 5em;
    right: 1em;
    width: 5px;
    height: 25vh;
    background: var(--light);
    border-radius: .5em;
    transition: all ease .2;
}

.works-scroll-status::before {
    content: "Works";
    color: var(--primary);
    position: absolute;
    writing-mode: vertical-rl;
    font-family: var(--font-text);
    font-weight: 400;
    transition: all cubic-bezier(0,0,.2,1) .2s;
    font-size: var(--text-size);
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    bottom: calc(-1em - 60px);
} */

#works {
    background: var(--dark);
    box-shadow: rgba(0, 0, 0, 1) 0px 22px 70px 4px;
    position: relative;
}

.works-intro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.works-intro-image {
    position: absolute;
    width: 100%;
    height: 90%;
    background: url("../../assets/images/assets-image-003.jpg") no-repeat center center fixed;
    background-size: cover;
    filter: grayscale(100%);
    -webkit-mask-image: -webkit-linear-gradient(-90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 0) 90%);
    mask-image: linear-gradient(-90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 0) 90%);
    mask: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 90%);
}

.works-intro h1 {
    z-index: 1;
    opacity: 1;
    font-size: 10rem;
    line-height: 80%;
    font-family: var(--font-title);
    font-weight: 100;
    color: var(--primary);
    text-align: center;
    mix-blend-mode: difference;
}

.works-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 3em;
}

.work-card-up img {
    width: 100%;
    height: auto;
    transition: all ease .5s;
}

.work-card-up {
    width: 100%;
    overflow: hidden;
    height: auto;
}


.work-card-down-info {
    display: flex;
    gap: 1em;
    margin-top: 1em;
    justify-content: space-between;
    color: var(--light);
    font-size: var(--text-size);
    font-family: var(--font-text);
}

.work-card-down-hr {
    width: 100%;
    background: var(--primary);
    margin-top: 1em;
    margin-bottom: 2.5em;
    height: 1px;
}

.work-card-title h2 {
    color: var(--dark);
    font-size: 3rem;
    line-height: 100%;
    font-family: var(--font-title);
    margin-bottom: 1em;
    text-align: right;
    font-weight: 100;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: all ease .2s;
}
.work-card-title h2::after {
    position: absolute;
    text-wrap: nowrap;
    right: 0;
    transform: translateY(120%);
    content: attr(data-title);
    transition: all ease .5s;
    color: var(--light);
}

.work-card {
    text-decoration: none;
}

.work-card-title h2::before {
    position: absolute;
    text-wrap: nowrap;
    right: 0;
    content: attr(data-title);
    transform: translateY(0%);
    transition: all ease .5s;
    color: var(--light);
}

.work-card:hover .work-card-title h2::after {
    transform: translateY(0%);
}
.work-card:hover .work-card-title h2::before {
    transform: translateY(-110%);
}




@media only screen and (max-width: 500px){
    .works-container {
        display: block;
    }   
}

.about-intro-full_image-container {
    height: 100vh;
    z-index: -111;
    /* transform: translateX(-100%);
    opacity: 0; */
}

.about-intro-full_image-item {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background: url("../../assets/images/assets-test-image-004.jpg") no-repeat center center fixed;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    object-fit: cover;
    /* transform: translateX(-100%); */
}

.about-content {
    background: var(--light);
}

.about-content .about-content-background {
    /* min-height: 100vh; */
    padding-top: 25vh;
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    background: var(--light);
}

.about-intro-full_image-item-scroll_trigger {
    transform: translateX(-100%);
}

.about-content h1 {
    font-size: 10rem;
    line-height: 80%;
    font-family: var(--font-title);
    font-weight: 100;
    color: var(--dark);
    text-align: center;
    transition: color 1s;
}

.about-content h1 span.italic {
    font-style: italic;
}

.about-content h1 span.uppercase {
    text-transform: uppercase;
}

.about-content h1 span.color {
    color: var(--primary);
}

.about-content h2 {
    position: relative;
    font-family: var(--font-text);
    color: var(--dark);
    font-weight: 200;
    font-size: 2rem;
    text-align: center;
    text-wrap: nowrap;
    transition: all ease .2s;
    line-height: 100%;
}

.about-content h2 span.title {
    font-family: var(--font-title);
}

.about-content h2 span.underline {
    position: relative;
}

.about-content h2 span.underline::after {
    content: "";
    position: absolute;
    background: var(--primary);
    width: 100%;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

/* div.section-content div.about-jobs {
    height: 2rem;
    overflow: hidden;
    position: relative;
}

div.section-content div.about-jobs h2.about-jobs-item {
    position: relative;
    font-family: var(--font-text);
    color: var(--dark);
    font-weight: 200;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;   
    text-wrap: nowrap;
    transition: all ease .2s;
    line-height: 100%;
}

div.section-content div.about-jobs h2.about-jobs-item_1 {
    top: 0;
}

div.section-content div.about-jobs h2.about-jobs-item_2 {
    top: 100%;
    opacity: 0;
} */

.about-social_media {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5em;
    justify-content: center;
    flex-wrap: wrap;
}

.about-social_media a {
    position: relative;
    font-family: var(--font-text);
    color: var(--dark);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    text-transform: uppercase;   
    text-wrap: nowrap;
    transition: all ease .2s;
    line-height: 100%;
    text-decoration: none;
    padding-right: .2em;
    padding-left: .2em;
}

.about-social_media a::after {
    content: "";
    position: absolute;
    background: var(--primary);
    width: 100%;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: all ease .2s;
    z-index: -1;
}

.about-social_media a:hover::after {
    height: 50%;
}

@media only screen and (max-width: 900px){
    .about-content h1, .works-intro h1 {
        font-size: 9rem;
    }
}

@media only screen and (max-width: 800px){
    .about-content h1, .works-intro h1 {
        font-size: 8rem;
    }
}

@media only screen and (max-width: 700px){
    .about-content h1, .works-intro h1 {
        font-size: 7rem;
    }
}

@media only screen and (max-width: 600px){
    .about-content h1, .works-intro h1 {
        font-size: 5.5rem;
    }
}

@media only screen and (max-width: 500px){
    .about-content h1, .works-intro h1 {
        font-size: 4.5rem;
    }   
}

@media only screen and (max-width: 400px){
    .about-content h1, .works-intro h1 {
        font-size: 4rem;
    }
    
}

.about-content-background {
    background: var(--light);
    position: relative;
}

.about-content-background .section-content {
    position: relative;
}

.about-content-image {
    position: absolute;
    width: 70%;
    height: 80%;
    background-color: var(--dark);
    background: url("../../assets/images/assets-image-005.jpg") no-repeat center center fixed;
    background-size: cover;
    filter: grayscale(100%);
    -webkit-mask-image: -webkit-linear-gradient(-90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 0) 90%);
    mask-image: linear-gradient(-90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 0) 90%);
    mask: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 90%);
}


@media only screen and (max-width: 900px){
    .about-content-image {
        width: 90%;
    }
}

.about-desc {
    background: var(--light);
    /* min-height: 90vh; */
    padding-bottom: 15vh;
}

.about-desc p {
    position: relative;
    font-family: var(--font-text);
    color: var(--dark);
    font-weight: 400;
    font-size: 1.5rem;
    text-align: left;
    text-wrap: wrap;
    transition: all ease .2s;
    line-height: 120%;
}

.about-desc p span.italic {
    font-family: var(--font-title);
    font-weight: bold;
    font-style: italic;
}

.about-desc p span.color {
    color: var(--primary);
}

.about-desc .section-content {
    display: flex;
    align-items: center;
    gap: 3em;
}

.about-desc-right-image_container {
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.about-desc-right-image_container img {
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.about-desc-left {
    display: flex;
    flex-direction: column;
}

.about-desc-left_links {
    display: flex;
    gap: 1em;
}


.about-desc-left_links a {
    position: relative;
    font-family: var(--font-text);
    color: var(--dark);
    font-weight: 400;
    font-size: var(--text-size);
    text-align: center;
    text-transform: uppercase;   
    text-wrap: nowrap;
    transition: all ease .2s;
    line-height: 100%;
    text-decoration: none;
    padding-right: .2em;
    padding-left: .2em;
    padding-bottom: .2em;
    z-index: 1;
}

.about-desc-left_links a::after {
    content: "";
    position: absolute;
    background: var(--primary);
    width: 100%;
    height: 1px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: all ease .2s;
    z-index: -1;
}

.about-desc-left_links a:hover::after {
    height: 50%;
}

@media only screen and (max-width: 1000px){
    .about-desc .section-content {
        flex-direction: column;
    }   

    .about-desc-left {
        gap: 3em !important;
    }
    .about-social_media {
        gap: .5em;
        margin-top: 1.5em;
    }
}

.about-content-bg {
    background: var(--light);
}