section.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 1em;
    min-height: 100vh;
    overflow: hidden;
}

div.home-background-container {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: none;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

div.home-background-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.home-content {
    z-index: 1;
    width: 100%;
}

/* div.home-content h1 {
    font-size: 8rem;
    text-transform: uppercase;
    color: var(--text-color);
    font-family: var(--font-inter);
    justify-content: center;
}
 */
/* div.home-content h1 span:last-child {
    font-weight: normal;
    font-style: italic;
} */

.text-scroll-container {
    overflow: hidden;
    width: 100%;
}

.text-scroll {
    display: flex;
    white-space: nowrap;
}

.scroll-item {
    font-size: 10rem;
    font-family: var(--font-inter);
    color: transparent;
    line-height: 1;
    position: relative;
}

.scroll-item::after {
    content: attr(data-char);
    position: absolute;
    left: 0;
    top: 100%;
    color: var(--text-color);
    transition: top 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.scroll-item.show::after {
    top: 0;
}