.project {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 111111;
    background: var(--black-950);
    overflow-y: scroll;
    display: none;
    transition: all ease 300ms;
}

.project-transition {
    position: fixed;
    width: 100%;
    height: 100%;
    background: var(--white-200);
    left: 0;
    top: 100%;
    z-index: 111111111;
    display: none;
}

.project-content {
    width: 90%;
    margin: 0 auto;
    padding-top: 5em;
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.project-close button {
    background: transparent;
    border: 0;
    font-size: var(--font-size-regular);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1em;
    color: transparent;
    font-family: var(--text-font);
    text-transform: uppercase;
    position: relative;
}

.project-close button div span,
.project-close button div {
    position: relative;
}

.project-close button div span {
    display: block;
    overflow: hidden;
}

.project-close button div::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background: var(--white-050);
    transition: all ease .2s;
}

.project-close button div span::before,
.project-close button div span::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: var(--white-050);
    transition: all ease .2s;
    pointer-events: none;
}
.project-close button div span::after {
    top: 100%;
}

.project-close button:hover div span::after {
    top: 0%;
}

.project-close button:hover div span::before {
    top: -100%;
}

.project-close button:hover div::after {
    width: 100%;
}

.project-close button svg {
    stroke: var(--white-050);
}

.project-content h2 {
    color: var(--white-050);
    font-family: var(--text-font);
    font-size: 2rem;
    font-weight: normal;
    line-height: 1;
    width: 60%;
    user-select: none;
}

.project-content h2 span.bold {
    font-weight: bold;
}

.project-content a {
    background: var(--white-050);
    color: var(--black-950);
    text-decoration: none;
    display: inline-flex;
    padding: .8em 2em;
    border-radius: 3em;
    font-size: var(--font-size-regular);
    font-family: var(--text-font);
    overflow: hidden;
    position: relative;
    transition: all ease .2s;
    flex-wrap: nowrap;
    align-items: center;
    gap: .5em;
}

.project-content a span {
    position: relative;
    z-index: 11;
    text-wrap: nowrap;
}

.project-content a svg {
    width: .6rem;
    height: .6rem;
    transition: all ease .2s;
    position: relative;
    z-index: 11;
    fill: var(--black-950);
}

.project-content a::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--red-600);
    width: 150%;
    height: 150%;
    z-index: 0;
    clip-path: circle(0% at 0% -100%);
    transition: clip-path ease .7s;
}

.project-content a:hover::after {
    clip-path: circle(150% at 50% 50%);
}

.project-content a:hover {
    transform: translateY(-3px);
    color: var(--white-050);
}

.project-content a:hover svg {
    fill: var(--white-050);
}

.project-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.project-content ul li {
    color: var(--white-050);
    font-size: var(--font-size-regular);
    font-family: var(--text-font);
    display: flex;
    align-items: center;
    gap: .5em;
    user-select: none;
}
.project-content ul li svg {
    width: .4rem;
    height: .4rem;
    fill: var(--white-050);
}

.project-images {
    width: 100%;
    display: flex;
    gap: 1em;
}

.project-images img {
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 1000px) {
    .project-images {
        flex-wrap: wrap;
    }
}


@media only screen and (max-width: 700px) {
    .project-content h2 {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .project-content h2 {
        width: 100%;
    }
}
