
@font-face {
    font-family: 'Stylish Mother Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Stylish Mother Regular'), url('../../assets/ttf/stylish-mother.woff') format('woff');
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../../assets/ttf/neue-montreal/bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../../assets/ttf/neue-montreal/book.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../../assets/ttf/neue-montreal/italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../../assets/ttf/neue-montreal/medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../../assets/ttf/neue-montreal/semibold_italic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('../../assets/ttf/neue-montreal/thin.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}