:root {
    --primary: #f5e41b;
    --dark: #000000;
    --light: #ffffff;
    --grey: #B8B8AF;
    
    --font-title: 'Stylish Mother Regular';
    --font-text: 'Neue Montreal';
    --text-size: 1.2rem;

}