/*
#   ___  ____  __   
#  / __)(  _ \(  )  
# ( (__  )___/ )(__  (code by cpadlab)
#  \___)(__)  (____)

# Author >> Carlos Padilla
# Proyect >> CPWvFeb24 (Carlos Padilla Web 2024 Feb Update)
# Download Code >> https://github.com/cpadlab/cpadlab.github.io
# Follow me >> https://twitter.com/nerezza0
*/

#home {
    height: 100vh;background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;}
.home-content h1, .home-content h2{color: var(--background);}
.home-content h1 {
    font-size: 3rem;
    font-family: 'yapari';}
.home-content h2 {
    font-family: 'Roboto';
    font-size: 1rem;}
.hc-separator {
    width: 1px;
    height: 5rem;
    background: var(--accent);
    margin: 3em;}
.home-content {
    display: flex;
    align-items: center;}
.home-content img {width: 8em;}
@media only screen and (max-width: 753px) {
    .home-content {flex-direction: column;}
    .hc-separator {display: none;}
    .hc-info {margin-top: 2em;}}
@media only screen and (max-width: 523px) {.hc-info {text-align: center;}}