/*
#   ___  ____  __   
#  / __)(  _ \(  )  
# ( (__  )___/ )(__  (code by cpadlab)
#  \___)(__)  (____)

# Author >> Carlos Padilla
# Proyect >> CPWvFeb24 (Carlos Padilla Web 2024 Feb Update)
# Download Code >> https://github.com/cpadlab/cpadlab.github.io
# Follow me >> https://twitter.com/nerezza0
*/

.writeup-content {
    display: flex;
    align-items: center;}
.writeups-banner {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 10em;}
.writeups-banner img {
    width: 10em;opacity: .5;
    animation: floatUpDown 5s infinite;}
.writeups-banner a {
    text-decoration: none;
    color: var(--color-5);
    font-family: 'Roboto';
    margin-top: 1em;}
.writeup {
    position: relative;
    display: flex;
    border-radius: 5px;
    border: var(--color-5) 1px solid;
    align-items: center;
    margin-left: .5em;
    margin-right: .5em;
    padding: 1em;
    max-width: 600px;
    cursor: pointer;
    margin-bottom: 1em;}
.writeup img {
    width: 5em;
    height: 5em;
    opacity: .5;transition: all ease-in .3s;}
.writeup .wa-info {
    font-family: 'Roboto';
    margin-left: 1em;
    transition: all ease-in .3s;}
.writeup .wa-info * {
    color: var(--color-5);
    margin: .2em;
    margin-left: 0;
    transition: all ease-in .3s;}
.writeup:hover .wa-info * {color: var(--color);}
.writeup:hover .wa-info #wai-difficulty {
    opacity: 1;
    border-radius: 5px;
    width: 3em;}
.writeup:hover .wa-info {margin-left: 2em;}
.writeup:hover img {opacity: 1;}
#wai-difficulty {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    opacity: .4;
    transition: all ease .4s;}
.wai-info-data {display: flex;}
.dificulty-easy {background: var(--easy);}
.dificulty-medium {background: var(--medium);}
.dificulty-hard {background: var(--hard);}
.dificulty-insane {background: var(--insane);}
.writeup button {
    position: absolute;
    right: 1em;
    bottom: 1em;
    color: var(--color-5);
    padding: .5em 1em;
    cursor: pointer;
    background: none;
    border-radius: 5px;
    border: var(--accent) 1px solid;
    transition: all ease-in .3s;}
.writeup:hover button {
    color: var(--color);
    background: var(--accent);}
@media only screen and (max-width: 967px) {
    .writeup-content {flex-direction: column;margin-top: 3em;}   
    .writeups-banner {margin-right: unset;margin-bottom: 1em;}}
@media only screen and (max-width: 669px) {.writeup {flex-direction: column;}}
@keyframes floatUpDown {
	0% {transform: translatey(0px);}
	50% {transform: translatey(-20px);}
	100% {transform: translatey(0px);}}
#section-title-h1 {
    color: var(--accent);
    font-family: 'yapari';
    font-size: 2rem;
    margin: 0;
    padding: 0;
    display: block;
    margin-bottom: 3em;
    text-transform: uppercase;}
#writeups {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;}
.writeups-dificult-map {
    display: flex;
    align-items: center;}
.writeups-dificult-map div {
    border-radius: 5px;
    height: 1em;
    width: 1em;
    margin-left: 1em;
    opacity: .4;}
.writeups-dificult-map span {
    margin-left: .3em;
    font-family: 'Roboto';
    color: var(--color-5);}
@media only screen and (max-width: 447px) {.writeups-dificult-map {display: none;}}